.popup__fieldset {
    margin: 0 auto;
    padding: 51px 0 21px;
    min-width: 358px;
    box-sizing: border-box;
    border: none;
}

@media screen and (max-width: 540px) {
    .popup__fieldset {
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 45px;
        max-width: 282px;
        min-width:0;
    }
}