.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .profile__container  {
        min-width: 282px;
        position: relative;
        justify-content: center;
    }
}