.footer {
    margin: 0 auto;
    padding: 67px 0 60px;
    max-width: 880px;
}

@media screen and (max-width: 890px) {
    .footer  {
        padding-top: 48px;
        padding-bottom: 36px;
        max-width: 581px;
    }
}

@media screen and (max-width: 590px) {
    .footer  {
        max-width: 282px;
    }
}