.element__count {
    max-width: 30px;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}