.popup__field {
    margin: 0;
    padding: 0;
    max-width: 358px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field:nth-of-type(n+1) {
    padding-bottom: 12px;
}

.popup__field:last-of-type {
    padding-top: 27px;
}

@media screen and (max-width: 540px) {
    .popup__field {
        max-width: 238px;
    }
}